{% load static %}
  <div class="mobile-menu">
      <div class="menu-backdrop"></div>
      <div class="close-btn"><span class="icon far fa-window-close"></span></div>
      <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
      <nav class="menu-box">
        <div class="nav-logo"><a href="/"><h4 style="color:#0888c0;"> <img src="{% static 'images/favicon.png' %}" width="30" alt="">
              Cargocharter</h4></a></div>
        <ul class="navigation clearfix">
          <!--Keep This Empty / Menu will come through Javascript-->
        </ul>
      </nav>
    </div>