<!-- Start Pricing Area -->
{% load static %}
<section class="pricing-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8">
        <div class="sec-title">
      <h2><span>Pricing Rate</span></h2>
      <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit</p>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <!-- Start Single Pricing Area -->
      <div class="table-list">
        <div class="top-price-inner">
          <h4>Basic</h4>
          <div class="rates"> <span class="prices"><span class="dolar">$</span>15</span><span class="users">Per Month</span> </div>
        </div>
        <ol>
          <li class="check">Online System</li>
          <li class="check">Free apps</li>
          <li class="check cross">full access</li>
          <li class="check">live preview</li>
          <li class="check cross">Support unlimited</li>
        </ol>
        <div class="price-btn"> <a href="order-from.html">Buy now</a> </div>
      </div>      
    </div>
    <div class="col-lg-4 col-md-6">
      <!-- Start Single Pricing Area -->
      <div class="table-list">
        <div class="top-price-inner">
          <h4>Standard</h4>
          <div class="rates"> <span class="prices"><span class="dolar">$</span>80</span><span class="users">Per Month</span> </div>
        </div>
        <ol>
          <li class="check">Online System</li>
          <li class="check">Free apps</li>
          <li class="check cross">full access</li>
          <li class="check">live preview</li>
          <li class="check cross">Support unlimited</li>
        </ol>
        <div class="price-btn"> <a href="order-from.html">Buy now</a> </div>
      </div>      
    </div>
    <div class="col-lg-4 col-md-6">
      <!-- Start Single Pricing Area -->
      <div class="table-list">
        <div class="top-price-inner">
          <h4>Premium</h4>
          <div class="rates"> <span class="prices"><span class="dolar">$</span>99</span><span class="users">Per Month</span> </div>
        </div>
        <ol>
          <li class="check">Online System</li>
          <li class="check">Free apps</li>
          <li class="check cross">full access</li>
          <li class="check">live preview</li>
          <li class="check cross">Support unlimited</li>
        </ol>
        <div class="price-btn"> <a href="order-from.html">Buy now</a> </div>
      </div>      
    </div>
  </div>
  </div>
</section>
<!-- Start Services Area -->
