<!-- Start Services Area -->
{% load static %}
<section class="services-sec">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8">
        <div class="sec-title">
      <h2><span>Our Services</span></h2>
      <p>We might be a business with local roots, but we have serious global ambition. Taking off from taiwan, We give our customer the abilty to track their with our live map system.</p>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-4 co-md-6">
      <!-- Single Services Sec -->
        <div class="single-service-item">
          <div class="icon-holder mb-3">
            <div class="service-item-icon-bg"> 01 </div>
          </div>
          <div class="service-item-text-holder">
            <h4>Standard Courier</h4>
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod facer possim assum.</p>
            <a class="thm-btn" href="#">Read More</a> </div>
        </div>        
    </div>
    <div class="col-lg-4 co-md-6">
      <!-- Single Services Sec -->
        <div class="single-service-item">
          <div class="icon-holder mb-3">
            <div class="service-item-icon-bg"> 02 </div>
          </div>
          <div class="service-item-text-holder">
            <h4>Door to Door</h4>
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod facer possim assum.</p>
            <a class="thm-btn" href="#">Read More</a> </div>
        </div>        
    </div>
    <div class="col-lg-4 co-md-6">
      <!-- Single Services Sec -->
        <div class="single-service-item">
          <div class="icon-holder mb-3">
            <div class="service-item-icon-bg"> 03 </div>
          </div>
          <div class="service-item-text-holder">
            <h4>Express Courier</h4>
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod facer possim assum.</p>
            <a class="thm-btn" href="#">Read More</a> </div>
        </div>        
    </div>
    <div class="col-lg-4 co-md-6">
      <!-- Single Services Sec -->
        <div class="single-service-item">
          <div class="icon-holder mb-3">
            <div class="service-item-icon-bg"> 04 </div>
          </div>
          <div class="service-item-text-holder">
            <h4>Ware House</h4>
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod facer possim assum.</p>
            <a class="thm-btn" href="#">Read More</a> </div>
        </div>        
    </div>
    <div class="col-lg-4 co-md-6">
      <!-- Single Services Sec -->
        <div class="single-service-item">
          <div class="icon-holder mb-3">
            <div class="service-item-icon-bg"> 05 </div>
          </div>
          <div class="service-item-text-holder">
            <h4>Pallet</h4>
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod facer possim assum.</p>
            <a class="thm-btn" href="#">Read More</a> </div>
        </div>        
    </div>
    <div class="col-lg-4 co-md-6">
      <!-- Single Services Sec -->
        <div class="single-service-item">
          <div class="icon-holder mb-3">
            <div class="service-item-icon-bg"> 06 </div>
          </div>
          <div class="service-item-text-holder">
            <h4>International Courier</h4>
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod facer possim assum.</p>
            <a class="thm-btn" href="#">Read More</a> </div>
        </div>        
    </div>
  </div>
  </div>
  </section>
<!-- End Services Area -->