<!-- Start Our Team Area -->
{% load static %}
<section class="our-team-sec">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8">
        <div class="sec-title">
      <h2><span>Our Team</span></h2>
      <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit</p>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <!-- Single Our Team Area -->
      <div class="our-team"> <img src="http://via.placeholder.com/350x369/000/fff" alt="">
        <h4><a href="#">Adam Gillwarms</a></h4>
        <span class="designation bg-theme">Courier Person</span>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
        <ul class="our-team-profile">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>      
    </div>
    <div class="col-lg-4 col-md-6">
      <!-- Single Our Team Area -->
      <div class="our-team"> <img src="http://via.placeholder.com/350x369/000/fff" alt="">
        <h4><a href="#">Dany Lizwani</a></h4>
        <span class="designation bg-theme">Courier Person</span>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
        <ul class="our-team-profile">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>      
    </div>
    <div class="col-lg-4 col-md-6">
      <!-- Single Our Team Area -->
      <div class="our-team"> <img src="http://via.placeholder.com/350x369/000/fff" alt="">
        <h4><a href="#">Adam Gillwarms</a></h4>
        <span class="designation bg-theme">Courier Person</span>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
        <ul class="our-team-profile">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>      
    </div>
  </div>
  </div>
</section>
<!-- End Our Team Area -->