<!-- Start Testimonials Area -->
{% load static %}
<section class="testimonials-sec">
   <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8">
        <div class="sec-title">
      <h2><span>Client Testimonials</span></h2>
      <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit</p>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-xl-8 col-lg-8 col-md-8 mx-auto col-sm-12">
      <div class="testimonial-wraper text-center owl-carousel owl-theme">
        <div class="single-testimonial"> <img src="http://via.placeholder.com/500x500/000/fff" alt="">
          <p>dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when
            an unknown printer took a galley of type and</p>
          <h4>Daniel Wells</h4>
        </div>
        <div class="single-testimonial"> <img src="http://via.placeholder.com/500x500/000/fff" alt="">
          <p>dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when
            an unknown printer took a galley of type and</p>
          <h4>Wells Mark</h4>
        </div>
        <div class="single-testimonial"> <img src="http://via.placeholder.com/500x500/000/fff" alt="">
          <p>dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when
            an unknown printer took a galley of type and</p>
          <h4>Less Willams</h4>
        </div>
      </div>      
  </div>
   </div>
    </div>
    <div class="ripple_wrap">
      <div class="left_top_ripples">
        <div class="ripples"></div>
          </div>
          <div class="right_bottom_ripples">
        <div class="ripples"></div>
          </div>
    </div>
</section>
<!-- End Testimonials Area -->