{% load static %}
<!--Header Top-->
    <div class="header-top">
      <div class="auto-container">
        <div class="inner-container clearfix">
          <div class="top-left">
            <div class="text">Best Courier Services in the World </div>
          </div>
          <div class="top-right">
            <ul class="list clearfix">
              <li><a href="tel:+369-2900-4800"><span class="icon fa fa-phone-square"></span> (369) 2900 4800</a></li>
              <li><a href="mailto:test@test.com"><span class="icon fa fa-envelope"></span> test@test.com</a></li>
            </ul>
            <ul class="social-icons">
              <li><a href="#"><span class="fab fa-twitter"></span></a></li>
              <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
              <li><a href="#"><span class="fab fa-instagram"></span></a></li>
              <li><a href="#"><span class="fab fa-youtube"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Header Top --> 